
* text=auto

*.cs            text encoding=utf8 diff=csharp
*.csproj        text encoding=utf8
*.gitignore     text encoding=utf8
*.gitattributes text encoding=utf8
*.sln           text encoding=utf8 merge=union
